
.filter__input {
    width: 100%;
}

.sortBy {
    width: 100%;
}

.btnReset {
    margin: auto;
    font-size: 14px;
    height: auto;
    width: 50%;
}

.filter__input {
    width: calc(100% - 8px); /* to przez to że pieprzony input jest o 8px szerszy*/
}

#orderBy__select{
    width: 100%;
}